*~
*.beam
deps/
ebin/
log/
_rel/
_build/
cover/
.erlang.mk/
Mnesia*
*.dump
erl_crash.dump
.erlang.mk.packages.v2
erl_crash.dump
relx
ttb_last_config
rebar.lock
test/ct.cover.spec
.DS_Store
*.plt
doc/*
eunit.coverdata
erlexp.d
